.flex-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:auto;
    align-content: center;
    justify-content: space-evenly;
}

.img-container
{
    margin: 10px;
    margin-bottom: 20px;
    width: 300px;
    height: 400px;
}

img
{
    width: 300px;
    height: 400px;
    object-fit: cover;
}